.container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 10px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
}
.card img {
  width: 350px;
  height: auto;
  border-radius: 28px;
  padding: 0.7rem 1.1rem;
  object-fit: cover;
  cursor: pointer;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgb(173, 170, 170);
  border-radius: 30px;
  background-color: white;
  padding: 16px 32px;
  position: relative;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 200px;
  height: 50px;
}

.btn .text,
.btn .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0;
  }
}
.btn .icon {
  color: hsl(14, 86%, 42%);
  margin-right: 10px;
}

.btn .svg-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.increment,
.decrement {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 50%;
  border-color: #fff;
  cursor: pointer;
  background-color: hsl(14, 86%, 42%);
  color: #fff;

  &:hover {
    background-color: #fff;
    color: black;
  }
}
.quantity {
  color: #fff;
}

.btn:hover .svg-container {
  opacity: 1;
  pointer-events: auto;
  background-color: hsl(14, 86%, 42%);
  border-radius: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 1.1rem;
}
.content h4 {
  font-size: 12px;
  font-weight: 500;
  color: rgb(212, 198, 198);
  padding: 0.3rem 0;
}
.content h2 {
  font-size: 16px;
  font-weight: bolder;
  padding: 0.3rem 0;
}
.content p {
  font-size: 16px;
  font-weight: 500;
  color: hsl(14, 86%, 42%);
  padding: 0.3rem 0;
}
